body {
    font-family: 'Muli', sans-serif;
    /*max-width: 1360px;
    width: 100%;*/
}

.header {
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.nav {
    max-width: 1110px;
    width: 100%;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 90px;
    width: 100%;
}

.nav__list { 
    width: 100%;
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
}

.nav__link {
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 30px;

}

.nav__link>a {
    color: #111111;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.nav__link>a:hover {
    background-color: #4A4FF2;
    border-radius: 5px;
    text-decoration: underline;
    color: rgb(241, 240, 240);
}

.main {
    max-width: 1110px;
    width: 100%;
    /*display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;*/
}

.main__info {
    /*max-width: 1000px;*/
    width: 100%;
    /*height: 251px;*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 20px;
    margin-top: 100px;
    /*margin-left: 125px;*/
}

.main__title {
    color: #4A4FF2;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.42px;
}

.main__text {
    max-width: 635px;
    width: 100%;
    color: #111111;
    font-size: 40px;
    font-weight: bold;
}

.product-designer {
    color: #4A4FF2;
}

.main__quote {
    color: #111111;
    font-size: 18px;
    font-style: italic;
    align-self: flex-end;
}

.grid__container {
    margin-top: 144px;
    margin-left: 125px;
    max-width: 1110px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9 1fr);
    grid-template-rows: repeat(32 1fr);
    grid-gap: 10px; 
}

img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.column-left {
    grid-column: 1/4;
}

.column-middle {
    grid-column: 4/7;
}

.column-right {
    grid-column: 7/10;
}

.grid__image-one {
    grid-row: 1/7;
}

.grid__image-two {
    grid-row: 1/6;
}

.grid__image-three {
    grid-row: 1/10;
}

.grid__image-four {
    grid-row: 7/14;
}

.grid__image-five {
    grid-row: 6/12;
}

.grid__image-six {
    grid-row: 10/16;
}

.grid__image-seven {
    grid-row: 14/21;
}

.grid__image-eight {
    grid-row: 12/20;
}

.grid__image-nine {
    grid-row: 16/24;
}

.grid__image-ten {
    grid-row: 21/29;
}

.grid__image-eleven {
    grid-row: 20/29;
}

.grid__image-twelve {
    grid-row: 24/29;
}

.grid__services-container {
    max-width: 1079px;
    width: 100%;
    /*height: 106px;*/
    margin-left: 125px;
    margin-top: 90px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: repeat(3 1fr);
}

.services__info {
    grid-column: 1/2;
    grid-row: 1/4;
    color: #111111;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.3;
}

.services__list {
    font-size: 18px;
    color: #111111; 
}

.creative-design {
    padding-left: 40px;
}

.packaging {
    padding-left: 40px;
    margin-top: -15px;
}

.coding {
    padding-left: 40px;
    margin-top: -25px;
}

.interactive {
    margin-top: -15px;
}

.branding {
    margin-top: -25px;
}

.grid__awards {
    max-width: 1110px;
    width: 100%;
    border-top: 1px solid black;
    margin-top: 100px;
    margin-left: 125px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.awards {
    color: #111111;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

.awards__site {
    color: #111111;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
}

.awards__ui {
    color: #111111;
    font-size: 16px;
    grid-column: 4/5;
    margin-top: 38px;
}

.awards__ui>p {
    line-height: 1.6;
}

.awards__date {
    color: #111111;
    font-size: 16px;
    text-align: end;
    margin-top: 38px;
}

.awards__ui-info {
    color: #111111;
    font-size: 16px;
    grid-column: 4/5;
}

.awards__best {
    color: #111111;
    font-size: 21px;
    font-weight: bold;
    grid-column: 2/3;
}

.awards__template {
    color: #111111;
    font-size: 16px;
    grid-column: 4/5;
    margin-top: 18px;
}

.awards__template>p {
    line-height: 1.6;
}

.awards__date--two {
    text-align: end;
    margin-top: 18px;
}

.footer {
    border-top: 1px solid black;
    max-width: 1110px;
    width: 100%;
    /*height: 140px;*/
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 126px;
}

.nav--footer {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo--footer {
    max-width: 90px;
    width: 100%;
}

.social--footer {
    max-width: 95px;
    width: 100%;
    margin-left: 50px;
}